<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Client Log In Page</h1>
	
	<p>Switch to Employee Login:</p>
		<a href="pickarole?choice=employee">Employee</a>
	
	<p>Login for Client goes here</p>
	<a href="signin?choice=client">Submit Button to go to Client landing</a> <br>
	
	<a href="changepage?choice=index">Link to Home Page</a> <br>
	<a href="changepage?choice=prices">Link to Prices Page</a> <br>
	<a href="changepage?choice=contact">Contact Us</a> <br>
	<a href="changepage?choice=register">Register New Client Account</a>

</body>
</html>