<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Client Landing Page</h1>
	
	<p>Log out to main website:</p>
	<a href="changepage?choice=index">Link to Home Page</a>
	
	<p>Welcome, 'Client Name!'</p>
	<p>What would you like to do?</p>
	
	<!--Goes to list of pets with details and editing/deleting options-->
	<a href="viewPets">View My Pets</a> <br>
	<!--Goes to list of info details (name, address, phone, email, etc) with editing/deleting options-->
	<a href="clientoption?choice=viewInfo">View My Info</a> <br>
	<!--Goes to list of pet names to select from (radio buttons or links), unless only pet, in that case, should go to editing page-->
	<a href="clientoption?choice=editPets">Edit My Pets</a> <br>
	<!--Goes to info editing page-->
	<a href="clientoption?choice=editInfo">Edit My Info</a> <br>
	
		<p>Log out to main website:</p>
	<a href="changepage?choice=index">Link to Home Page</a>

</body>
</html>