<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

	<h1>Employee Landing Page</h1>
	
	<p>Switch to Client Login:</p>
		<a href="pickarole?choice=client">Client</a>
	
	<p>Login for Employee goes here</p>
	
	<a href="changepage?choice=index">Link to Home Page</a>
	<a href="changepage?choice=prices">Link to Prices Page</a>
	<a href="changepage?choice=contact">Contact Us</a>
	<a href="changepage?choice=register">Register New Client Account</a>

</body>
</html>