<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

	<h1>Employee Landing Page</h1>
	
	<p>Log out to main website:</p>
	<a href="changepage?choice=index">Link to Home Page</a>
	
	<p>Welcome, 'Employee Name!'</p>
	<p>What would you like to do?</p>
	
	<!--Goes to list of all weekdays with checkboxes/indicators for if working or not-->
	<a href="../viewDates">View/Edit My Schedule</a> <br>
	<!--Goes to list of info details (name, address, phone, email, etc) with editing/deleting options-->
	<a href="../viewInfo">View My Info</a> <br>
	<!--Goes to info editing page-->
	<a href="../editInfo">Edit My Info</a> <br>
	<!--Goes to list of client names with pets underneath to select from (radio buttons or links)-->
	<a href="../viewAllClientPet">View All Clients and Pets</a> <br>
	<!--Goes to search by pet page, can be used to select pet for editing-->
	<a href="../searchPet">Find a Pet</a> <br>
	<!--Goes to search by client page, can be used to select a client for editing-->
	<a href="../searchClient">Find a Client</a> <br>
	<!--Goes to insert pet page, can be used to add pet -->
	<a href="../addPet">Add a Pet</a> <br>
	<!--Goes to insert client page, can be used to insert a client-->
	<a href="../addClient">Add a Client</a> <br>
	
		<p>Log out to main website:</p>
	<a href="changepage?choice=index">Link to Home Page</a>

</body>
</html>