<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Doggie Daycare</title>
</head>
<body>
	<h1>Welcome to Our App!</h1>
	
	<!--have the following in a drop down "Login" menu-->
	<p>These options will be in a drop down "Login" menu:</p>
	
	<a href="pickarole?choice=client">Client</a> <br/>
	<a href="pickarole?choice=employee">Employee</a>
	
	<h1>Doggy Daycare App</h1>
	
	<p>Noah is working on webpage code.</p>
	
	<a href="changepage?choice=prices">Link to Prices Page</a>
	<a href="changepage?choice=contact">Contact Us</a>
	<a href="changepage?choice=register">Register New Client Account</a>
	

</body>
</html>