<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>
	<a href="../../viewAllClient">View All Clients</a> <br>
	<!--Goes to list of pet names to select from using links-->
	<a href="../../../viewAllPets">View All Pets</a> <br>
	<!--Goes to search by pet page, can be used to select pet for editing
	<a href="../searchPet">Find a Pet</a> <br> -->
	<!--Goes to search by client page, can be used to select a client for editing-->
	<a href="../../searchClient">Find a Client</a> <br>
	<!--Goes to insert pet page, can be used to add pet -->
	<a href="../../addPet">Add a Pet</a> <br>
	<!--Goes to insert client page, can be used to insert a client-->
	<a href="../../addClient">Add a Client</a> <br>
	</p>
	<!--Drop Down menu is WIP having some problems with bootstrap atm-->
	<!--
	<p>
	
	<a href="pickarole?choice=client">Client</a> <br/>
	<a href="pickarole?choice=employee">Employee</a> <br>
	
	<a href="changepage?choice=prices">Link to Prices Page</a><br>
	<a href="changepage?choice=contact">Contact Us</a><br>
	<a href="changepage?choice=register">Register New Client Account</a><br>
    </p>
	-->
	<!--
	
	<a href="../signin?choice=employee">Return to Employee Landing Page</a><br>
	
	<a href="../changepage?choice=index">Return to Home Page</a><br>-->
		<table>
		<tr>
			
			<th>Name	</th>
			<th>Breed	</th>
			<th>Age	</th>
			<th>Added to Owner: </th>
		</tr>
		<th:block>
			<tr>
				
				<td th:text="${selectPet.name}">Pet Name</td>
				<td th:text="${selectPet.breed}">Pet Breed</td>
				<td th:text="${selectPet.age}">Pet Age</td>
				<td th:text="${selectPet.getclient().getName()}">Owner's Name</td>
				
			</tr>
		</th:block>
	</table>

</body>
</html>