<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<h1>Prices List</h1>

		<!--have the following in a drop down "Login" menu-->
	<p>These options will be in a drop down "Login" menu:</p>
	
	<a href="pickarole?choice=client">Client</a> <br/>
	<a href="pickarole?choice=employee">Employee</a>
	
	<p>Pricing info goes here</p>
	
	<a href="changepage?choice=index">Link to Homepage</a>
	<a href="changepage?choice=contact">Contact Us</a>
	<a href="changepage?choice=register">Register New Client Account</a>

</body>
</html>